@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}

img{border:0;display:block;}

ul,ol,li{list-style:none;}

a{text-decoration:none;color:#000;}

h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:100;}

.clearfix:after{content:".";display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}

body{font-family: "微软雅黑"; font-size: 12px;}

.center{
	width: 1000px;
	margin: auto;
}
#top{
	width: 100%;
	height: 80px;
	background: #41bbe2;
}
.top{
	height: 80px;
}
/*top-nav*/
#top-nav{
	height: 30px;
	width: 100%;
	background: #f6f6f6;
	border-bottom: 1px solid ##ddd;
}
.top-nav{
	height: 30px;
}
.top-nav a:hover{
	color: #f70800;
}
.news{
	float: left;
	width: 250px;
	height: 28px;
	line-height: 28px;
	position: relative;
	overflow: hidden;
}
.news span{
	float: left;
	background-position: -98px -196px;
	padding-left: 18px;
	color: #666;
	background-image: url(../img/btn2.png);
	background-repeat:no-repeat;
}
.news ul{
	float: left;
	height: 28px;
	position: absolute;
	left: 57px;
}
.news ul li{
	width: 190px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #666;
	height: 28px;
	float: left;
	line-height: 28px;

}
.top-left-ul{
	float: right;
	line-height: 28px;
	position: relative;
}
.top-left-ul li{
	float: left;
}
.top-left-ul li a{
	padding: 0 10px;
	border-right: 1px solid #666;
}
.top-left-ul li a b{
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: -5px;
}
.sao{
	position: absolute;
	z-index: 100;
	background: #fff;
	padding: 10px;
	
	border: 1px solid #ddd;
	box-shadow: 0 0 3px #ccc;
	display: none;
}
.sao1{
	width: 90px;
	margin: auto;
	text-align: center;
}
.sao1 p{
	color: #f70800;
}
/* logo */
.logo{
	height: 80px;
	margin-top: 20px;
}
.logom{
	float: left;
	width: 280px;
}
.container {
	position: relative;
	width: 420px;
	height: 35px;
	float: left;
	border: 3px solid #FF4200;
}
.container .search-box {
	position: relative;
	height: 100%;
}
.container .search-box input {
	position: absolute;
	top: 0;
	left: 0;
	width: 326px;
	height: 100%;
	border: 0;
	outline: none;
	padding-left: 10px;
}
.container .search-box .search-btn {
	position: absolute;
	top: 0;
	left: 300px;
	width: 120px;
	height: 100%;
	text-align: center;
	line-height: 35px;
	color: #fff;
	background-color: #FF4200;
	cursor: pointer;
}
.container .search-box .search-btn:hover {
	background-color: #F52B00;
}
.search-content {
	position: absolute;
	top: 38px;
	left: 3px;
	width: 418px;
	border: 1px solid #999;
}
.search-content ul li {
	list-style: none;
	height: 25px;
	line-height: 25px;
}
.mycart{
	float: left;
	position: relative;
	height: 32px;
}
.cart{
	display: block;
	width: 138px;
	height: 30px;
	border: 1px solid #ddd;
}
/* nav */
#nav{
	width: 100%;
	height: 40px;
	background: #f70800;
}
.navul{
	position: relative;
	height: 40px;
}
.navul li{
	float: left;
	height: 40px;
	line-height: 40px;
}
.navli a{
	display: block;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
}
.navli:hover{
	background: #e20700;
}

.nav-tv b{
	float: left;
	margin-top: 10px;
	margin-right: 4px;
} 
.navul .fenlei{
	position: absolute;
	right: 0;
	top: 0;
	width: 134px;
	height: 40px;
}
.fenlei1{
	width: 134px;
	position: absolute;
	height: 40px;
	background: url(../img/searchbar.jpg) no-repeat 0 -65px;
}
.fenlei1:hover{
	background: url(../img/searchbar.jpg) no-repeat 0 -133px;
}
#fenlei{
	height: auto;
	width: 998px;
	overflow: hidden;
	padding-top: 1px;
	border: 1px solid #f70800;
	background: #fff;
	position: absolute;
	top: 41px;
	left: -865px;
	z-index: 200;
	display: none;
}
.fen{
	width: 135px;
	padding: 0 15px;
	float: left;
	border-right: 1px solid #ededed;
	height: 100%;
}
.fen dt{
	height: 42px;
	position: relative;
	line-height: 46px;
	border-bottom: 1px dotted #d9d9d9;
	margin-top: 6px;
	padding-bottom: 6px;
}
.fen dt span{
	float: left;
	margin-left: 15px;
	margin-right: 3px;
}
.fen dt a{
	font-size: 14px;
	font-weight: 700;
}
.fen dd a:hover{
	color: #f70800;
}
.fena1:hover{
	color: #ff4074;
}
.fena2:hover{
	color:#49a2ff;
}
.fena3:hover{
	color: #4aaf00;
}
.fena4:hover{
	color: #ff4074;
}
.fena5:hover{
	color: #ff6c00;
}
.fena6:hover{
	color: #49a2ff;
}
.fen dd{
	padding-top: 5px;
	padding-bottom: 17px;
	height: auto;
}
.fen dd a{
	display: block;
	overflow: hidden;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: #555;
}
/* banner */
.banner{
	position: relative;
	width:100%;
	height: 340px;
	overflow: hidden;
}
.banner .imgwrap{
	
	-position: relative;
	height: 100%
}
.banner .imgwrap img{
	width:1280px;
	float: left;
	height: 100%;
	-position: absolute;
	-top: 0;
	-left: 0;
	-display: none;
}
.banner .imgwrap img:nth-child(1){
	display: block;
}
.banner .arrow {
width: 30px;
height: 30px;
line-height: 30px;
color: #fff;
background: #c33;
text-align: center;
position: absolute;
top: 50%;
margin-top: -15px;
}
.banner .arrowleft{
	left: 0;
}
.banner .arrowright{
	right: 0;
}
.circles{
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 20px;
	text-align: center;
}
.ciritem{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #fff;
}
.ciritem.active{
	background: #c33;
}
.ctr{
	height: 340px;
	width: 1000px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.arrowleft{
	background: url(../img/btn.png) no-repeat 0 0;
	position: absolute;
	width: 30px;
	height: 60px;
	top: 140px;
	cursor: pointer;
	left: 0;
	display: none;
}
.arrowleft:hover{
	background: url(../img/btn.png) no-repeat -92px -76px;
}
.arrowright:hover{
	background: url(../img/btn.png) no-repeat -92px 0;
}
.arrowright{
	background: url(../img/btn.png) no-repeat 0 -76px;
	position: absolute;
	width: 30px;
	height: 60px;
	top: 140px;
	cursor: pointer;
	right: 0;
	display: none;
}
/* index-cont */
#index-cont{
	width: 100%;
	padding-bottom: 30px;
	background: #f2f2f2;
}
.index-box1{
	height: 400px;
}
.index-box2{
	height: 640px;
}
.index-box2 h3{
	float: left;
}
.index-box2 a{
	float: left;
	display: block;
	margin-top: 20px;
}
.index-box2 a img{
	width: 490px;
	height: 270px;
}
.index-box2 .boximg{
	margin-right: 20px;
}
.index-box3{
	height:auto !important;
	height:200px; /*假定最低高度是200px*/
	min-height:200px; 
}
.index-box3 h3{
	float: left;
}
.index-box3 ul{
	float: left;
	width: 1020px;
	height:auto !important;
	height:200px; /*假定最低高度是200px*/
	min-height:200px; 
}
.index-box3 ul li{
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	border: 1px solid #ddd;
	width: 318px;
	height: 460px;
}
.index-box3 ul li:hover{
	border: 1px solid #ff504a;
}
.index-box3 ul li img{
	width: 298px;
	height: 298px;
}
.box3-1{
	padding: 10px;
	background: #fff;
	position: relative;
}
.box3-1 dl{
	height: 405px;
}
.box3-1 dl dt{
	float: left;
	width: 298px;
	height: 298px;
}
.box3-1 dl dd{
	
}
.tit-p1{
	margin-top: 18px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 400;
}
.tit-p2{
	color: #f70800;
	margin-top: 5px;
	overflow: hidden;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding: 0 10px;
}
.index-price{
	margin-top: 20px;
	height: 26px;
	padding: 0 10px 3px 10px;
}
.pri1{
	float: left;
	font-size: 26px;
	color: #222;
	margin-right: 10px;
}
.pri2{
	position: relative;
	margin-top: 10px;
	color: #999;
	font-size: 14px;
	float: left;
}
.pri2p1{
	position: absolute;
	top: -18px;
	left: 0;
	width: 200px;
}
.pri2p1 .prib{
	width: 24px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	border-radius: 10px;
	padding: 0 5px;
	margin-right: 5px;
}
.pri2p1 .b1{
	background: #ff3175;
}
.pri3{
	float: right;
	color: #999;
	margin-top: 9px;
}
.pri3 b{
	float: left;
	color: #f70800;
}
.huoyuan{
	height: 32px;
	line-height: 32px;
	background: #f8f8f8;
	color: #666;
	font-size: 12px;
	border-top: 1px solid #eee;
	padding: 0 20px;
}